<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
 
  .header{
    text-align:center;
    text-decoration: underline;

  }
  #top-menu{
    display:flex;
    justify-content: space-around;
    border:2px red solid ;
    border-radius: 7px;
  }
  table,th,td{
    border:1px solid #000;
    border-collapse:collapse;
  }
  table{
    width: 1075px;
  }
</style>
<body>
  <div id="top-menu" >
    <img src="zmag2.jpg" alt="">
    <div>
      <p style="font-weight:bold">Date : 12 <sup>th</sup>/02/2021</p>
      <p style="font-weight: bold;">Doc ID:  Bks/04</p>
      <p style="font-weight: bold;">By : Librian</p>
    </div>

  </div>
  <div>
    <h1 class="header">List Of Books In KSS Library</h1>
  </div>
  <div>
    <table>
      <tr>
        <th>Book Title</th>
        <th>Book ID</th>
        <th>Class</th>
        <th>Volume</th>
        <th>language</th>
         
        <th>Price</th>
        <th>Barcode</th>
      </tr>
      
    </table>
  </div>
  
</body>
</html>