{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

</head>
<style>
  .nav-link{
    font-size: 20px;
    text-indent: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;

  }
  .nav-link:hover{
    color:black;
    /* font-weight: bold; */
    text-decoration: underline;
    /* line-height: 40px; */
    
  }
    .modal-header{
        background-color: orange;
    }
    .modal-body{
        background-color: gray;
    }
</style>
<body>
    <div class="col-md-10 mx-auto col-lg-11">
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
          <div class="container-fluid">
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'home-pag' %}">Home</a>
                </li>
                <li class="nav-item">
                  
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Addmissions
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'school-admissions' %}">About Addmissions</a></li>
                    <li><a class="dropdown-item" href="#">Fees</a></li>
                    
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    About Us
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">School Background</a></li>
                    <li><a class="dropdown-item" href="#">Our Mission</a></li>
                    <li><a class="dropdown-item" href="#">Staff Messages</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Desplines
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">School Rules And Regulations</a></li>
                    <li><a class="dropdown-item" href="#">Despline At Intwari</a></li>
                    <li><a class="dropdown-item" href="#">Staff Members</a></li>
                  </ul>
                </li>
                {% if user == True %}
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="{% url 'dashboard' %}">Admin</a>
            </li> 
            {% elif user == False %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Staff
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <!-- <li><a class="dropdown-item" href="{% url 'student-reg-page' %}">News</a></li> -->
                <li><a class="dropdown-item" href="{% url 'view-students-page' %}">View Students</a></li>
                <li><a class="dropdown-item" href="{% url 'reg-announcements' %}">Add Announcements</a></li>
                <li><a class="dropdown-item" href="{% url 'reg-questions' %}">Add Questions</a></li>
                <li><a class="dropdown-item" href="{% url 'reg-courses' %}">Add Courses</a></li>
                <li><a class="dropdown-item" href="{% url 'reg-books' %}">Add Books</a></li>
                </ul>
            </li>
            
            {% endif %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    View
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <!-- <li><a class="dropdown-item" href="{% url 'student-reg-page' %}">News</a></li> -->
                    <li><a class="dropdown-item" href="{% url 'reg_view_posts' %}">Posts</a></li>
                    <li><a class="dropdown-item" href="{% url 'view_anns' %}">Announcements</a></li>
                    </ul>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Contact</a>
                </li>
                
              </ul>
              
            </div>
          </div>
          
        </nav>
      </div>
      <div class="p-4 p-md-4 mb-4 text-white rounded bg-danger col-md-10 col-lg-11 mx-auto" style="text-align: center;">
        <div class="col-md-16 px-10">
          <h1 class="display-4 fst-italic">Add Questions</h1>
          <p class="lead my-3">Welcome To Intwari Student Veiw Center Where Your Are Able to View Posts posted by students,staff and Admin</p>
          <p class="lead mb-0"><button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#mymodal" >Add</button></p>
        </div>
        <div class="modal" id="mymodal" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                         <h5 class="modal-title" style="padding-left: 170px;">Add Questions</h5>
                         <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
                    </div>
                    <div class="modal-body">
                        <div class="conatiner">
                            <form method="POST" enctype="multipart/form-data" >{% csrf_token %}
                                {{form1}}
                                <div class="container" style="display: flex;justify-content: space-around;padding-top: 10px;">
                                    <button class="btn btn-danger" >Cancel</button>
                                    <button class="btn btn-primary" type="submit" value="Save" name="btn_f1" >Register</button>
                                    
                                </div>
    
                            </form>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="p-4 p-md-4 mb-4 text-white rounded bg-danger col-md-10 col-lg-11 mx-auto" style="text-align: center;">
        <div class="col-md-16 px-10">
          <h1 class="display-4 fst-italic">Add Multiple Choice Questions</h1>
          <p class="lead my-3">Welcome To Intwari Student Veiw Center Where Your Are Able to View Posts posted by students,staff and Admin</p>
          <p class="lead mb-0"><button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#mymodal2" >Add</button></p>
        </div>
        <div class="modal" id="mymodal2" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                         <h5 class="modal-title" style="padding-left: 170px;">Add Choice Qtns</h5>
                         <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
                    </div>
                    <div class="modal-body">
                        <div class="conatiner">
                            <form method="POST" enctype="multipart/form-data" >{% csrf_token %}
                                {{form2}}
                                <div class="container" style="display: flex;justify-content: space-around;padding-top: 10px;">
                                    <button class="btn btn-danger" >Cancel</button>
                                    <button class="btn btn-primary" type="submit" value="Save" name="btn_f2">Register</button>
                                    
                                </div>
    
                            </form>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
      </div>      
      <div class="p-4 p-md-4 mb-4 text-white rounded bg-danger col-md-10 col-lg-11 mx-auto" style="text-align: center;">
        <div class="col-md-16 px-10">
          <h1 class="display-4 fst-italic">Add Detailed-Questions</h1>
          <p class="lead my-3">Welcome To Intwari Student Veiw Center Where Your Are Able to View Posts posted by students,staff and Admin</p>
          <p class="lead mb-0"><button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#mymodal3">Add</button></p>
        </div>
        <div class="modal" id="mymodal3" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                         <h5 class="modal-title" style="padding-left: 170px;">Add detailed Qtns</h5>
                         <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
                    </div>
                    <div class="modal-body">
                        <div class="conatiner">
                            <form method="POST" enctype="multipart/form-data" >{% csrf_token %}
                                {{form3}}
                                <div class="container" style="display: flex;justify-content: space-around;padding-top: 10px;">
                                    <button class="btn btn-danger" >Cancel</button>
                                    <button class="btn btn-primary" type="submit" value="Save" name="btn_f3" >Register</button>
                                    
                                </div>
    
                            </form>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
      </div>      

      <div class="p-4 p-md-4 mb-4 text-white rounded bg-danger col-md-10 col-lg-11 mx-auto" style="text-align: center;">
        <div class="col-md-16 px-10">
          <h1 class="display-4 fst-italic">Add Maths Questions</h1>
          <p class="lead my-3">Welcome To Intwari Student Veiw Center Where Your Are Able to View Posts posted by students,staff and Admin</p>
          <p class="lead mb-0"><button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#mymodal4" >Add</button></p>
        </div>
        <div class="modal" id="mymodal4" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                         <h5 class="modal-title" style="padding-left: 170px;">Add Maths Questions</h5>
                         <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
                    </div>
                    <div class="modal-body">
                        <div class="conatiner">
                            <form method="POST" enctype="multipart/form-data" >{% csrf_token %}
                                {{form4}}
                                <div class="container" style="display: flex;justify-content: space-around;padding-top: 10px;">
                                    <button class="btn btn-danger" >Cancel</button>
                                    <button class="btn btn-primary" type="submit" value="Save" name="btn_f4" >Register</button>
                                    
                                </div>
    
                            </form>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
      </div>
</body>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script> -->
<script src="{% static 'css/bootstrap.min.js' %}"></script>
<!-- <script></script> -->
</html>